@charset "utf-8";
html{
    -moz-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    text-size-adjust: 100%;
}
#progress{position: absolute; left: 0; top: 0; width: 100%; height: 100%; background-color: rgba(0,0,0,0.2); font-size: 15px; text-align: center; padding-top: 75%; }
#container{width: 100%; height: 100%; position: absolute; left: 0; top: 0;}
#crashes{width: 100%; height: 100%; position: relative;z-index: 30;}
.crash{width: 100%; height: 100%; position: absolute; left: 0; top: 0; background-color: rgba(0,0,0,0.2)}
#start-btn{font-size: 20px;font-weight: bold; width: 25%; text-align: center; margin: 100% auto 0;  color: #fff; line-height: 40px; background-color: #ff801b; border-radius: 5px;}
#game-center{width: 100%; height: 100%; position: absolute; left: 0; top: 0; z-index: 10; }
#title-time{height: 80px; line-height: 90px; text-align: center;}
#main{width: calc(80vw + 32px); margin: auto;}
.row{display: flex; margin: 15px 0;}
.box{width: 20vw; height: 20vw;  margin: 0 4px; }
.card{width: 100%; height: 100%; margin: auto;}
.cardRotate{
    -webkit-animation: cardRotate 0.4s ease 0s 1 forwards;
    -o-animation: cardRotate 0.4s ease 0s 1 forwards;
    animation: cardRotate 0.4s ease 0s 1 forwards;
}
@keyframes cardRotate {
    from{width: 0; height: 0;}
    to{width: 100%; height: 100%;
        -webkit-transform: rotate(-360deg);
        -moz-transform: rotate(-360deg);
        -ms-transform: rotate(-360deg);
        -o-transform: rotate(-360deg);
        transform: rotate(-360deg); }
}
.cardRotateBack{
    -webkit-animation: cardRotateBack 0.4s ease 0s 1 forwards;
    -o-animation: cardRotateBack 0.4s ease 0s 1 forwards;
    animation: cardRotateBack 0.4s ease 0s 1 forwards;
}
@keyframes cardRotateBack {
    from{}
    to{width: 0; height: 0;
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);}
}

.pic{width: 100%; height: 100%; background-color: rgba(0,0,0,0.6);
    -webkit-transition: transform 0.2s;
    -moz-transition: transform 0.2s;
    -ms-transition: transform 0.2s;
    -o-transition: transform 0.2s;
    transition: transform 0.2s;}
.trans{
    -webkit-transform: rotateY(90deg);
    -moz-transform: rotateY(90deg);
    -ms-transform: rotateY(90deg);
    -o-transform: rotateY(90deg);
    transform: rotateY(90deg);
}
#success{text-align: center; font-size: 30px; margin-top: 20%;}
#using-time{text-align: center; line-height: 50px; margin-top: 60%}
.finish-btns{font-size: 18px; margin: 20% auto 0; width: 70%;}
.finish-btn{width: 40%;text-align: center;font-weight: bold; color: #fff; line-height: 40px; background-color: #ff801b; border-radius: 5px;}
/*==排行榜==*/
#rank{position: absolute; width: 100%; height: 100%; overflow-y: scroll; padding-top: 15%; background-color: rgba(0,0,0,0.4);}
#rank-close{position: absolute; right: 0; top: -5px; font-size: 60px; }
#rank-table{width: 100%; text-align: center; color: #fff; }
#rank-table th{height: 40px; line-height: 40px;}
.rank-header{width: 14vw; height:14vw; border-radius: 50%;}
/*==横屏时提示==*/
@-webkit-keyframes rotation {
    10% { transform: rotate(90deg); -webkit-transform: rotate(90deg) }
    50%, 60% { transform: rotate(0deg); -webkit-transform: rotate(0deg) }
    90% { transform: rotate(90deg); -webkit-transform: rotate(90deg) }
    100% { transform: rotate(90deg); -webkit-transform: rotate(90deg) }
}
@keyframes rotation {
    10% { transform: rotate(90deg); -webkit-transform: rotate(90deg) }
    50%, 60% { transform: rotate(0deg); -webkit-transform: rotate(0deg) }
    90% { transform: rotate(90deg); -webkit-transform: rotate(90deg) }
    100% { transform: rotate(90deg); -webkit-transform: rotate(90deg) }
}
#orientLayer { display: none }
@media screen and (min-aspect-ratio: 13/9) {
    #orientLayer { display: block }
}
.mod-orient-layer { display: none; position: fixed; height: 100%; width: 100%; left: 0; top: 0; right: 0; bottom: 0; background: #000; z-index: 9997 }
.mod-orient-layer__content { position: absolute; width: 100%; top: 45%; margin-top: -75px; text-align: center }
.mod-orient-layer__icon-orient { background-image: url('../img/crossWarning.png'); display: inline-block; width: 67px; height: 109px; transform: rotate(90deg); -webkit-transform: rotate(90deg); -webkit-animation: rotation infinite 1.5s ease-in-out; animation: rotation infinite 1.5s ease-in-out; -webkit-background-size: 67px; background-size: 67px }
.mod-orient-layer__desc { margin-top: 20px; font-size: 15px; color: #fff }
