@charset "utf-8";
html{
    -moz-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    text-size-adjust: 100%;
}
#container{width: 100%; height: 100%; position: absolute; left: 0; top: 0;}
#crashes{width: 100%; height: 100%; position: relative;z-index: 30;}
.crash{width: 100%; height: 100%; position: absolute; left: 0; top: 0; background-color: rgba(0,0,0,0.2)}
#start-btn{font-size: 20px;font-weight: bold; width: 25%; text-align: center; margin: 100% auto 0;  color: #fff; line-height: 40px; background-color: #ff801b; border-radius: 5px;}
#game-center{width: 100%; height: 100%;}
#title-time{height: 80px; line-height: 90px; text-align: center;}
#main{width: calc(72vw + 8px); margin: auto;}
.row{display: flex; margin: 4px 0;}
.card{width: 18vw; height: 18vw; margin: 1px; background-color: #4cbaa8;}
.pic{width: 100%; height: 100%; background-color: #95b3d1;
/*.pic{width: 100%; height: 100%; background-color: transparent;*/
    -webkit-transition: transform 0.2s;
    -moz-transition: transform 0.2s;
    -ms-transition: transform 0.2s;
    -o-transition: transform 0.2s;
    transition: transform 0.2s;}
.trans{
    -webkit-transform: rotateY(90deg);
    -moz-transform: rotateY(90deg);
    -ms-transform: rotateY(90deg);
    -o-transform: rotateY(90deg);
    transform: rotateY(90deg);
}
#using-time{text-align: center; line-height: 50px; margin-top: 75%}
#again-btn{display: block; font-size: 18px;font-weight: bold; width: 25%; text-align: center; margin: 20% auto 0;  color: #fff; line-height: 40px; background-color: #ff801b; border-radius: 5px;}










/*横屏时提示*/
@-webkit-keyframes rotation {
    10% { transform: rotate(90deg); -webkit-transform: rotate(90deg) }
    50%, 60% { transform: rotate(0deg); -webkit-transform: rotate(0deg) }
    90% { transform: rotate(90deg); -webkit-transform: rotate(90deg) }
    100% { transform: rotate(90deg); -webkit-transform: rotate(90deg) }
}
@keyframes rotation {
    10% { transform: rotate(90deg); -webkit-transform: rotate(90deg) }
    50%, 60% { transform: rotate(0deg); -webkit-transform: rotate(0deg) }
    90% { transform: rotate(90deg); -webkit-transform: rotate(90deg) }
    100% { transform: rotate(90deg); -webkit-transform: rotate(90deg) }
}
#orientLayer { display: none }
@media screen and (min-aspect-ratio: 13/9) {
    #orientLayer { display: block }
}
.mod-orient-layer { display: none; position: fixed; height: 100%; width: 100%; left: 0; top: 0; right: 0; bottom: 0; background: #000; z-index: 9997 }
.mod-orient-layer__content { position: absolute; width: 100%; top: 45%; margin-top: -75px; text-align: center }
.mod-orient-layer__icon-orient { background-image: url('../img/crossWarning.png'); display: inline-block; width: 67px; height: 109px; transform: rotate(90deg); -webkit-transform: rotate(90deg); -webkit-animation: rotation infinite 1.5s ease-in-out; animation: rotation infinite 1.5s ease-in-out; -webkit-background-size: 67px; background-size: 67px }
.mod-orient-layer__desc { margin-top: 20px; font-size: 15px; color: #fff }






